.contect-component {
  width: auto;
  background-color: #f7f5ed;
}

.heading-xlarge {
  font-size: 5.2rem;
  font-weight: 600;
}

.contect-inside {
  color: #121111;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.contect-inside p{
  padding-top: 2rem;
  font-weight: 600;
  width: 30rem;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .heading-xlarge {
    font-size: 2.7rem;
  }
  .contect-inside p{
    width: auto;
  }
}

@media only screen and (max-width: 479px) {
}
