@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-color {
  color: #121111;
  color: #f7f5ed;
}

body {
  color: #f7f5ed;
  /* background-color: #f7f5ed; */
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}
.main-wrapper {
  z-index: 2;
  background-color: #121111;
  position: relative;
  overflow: hidden;
  margin-bottom: 17rem;
}

.page-padding {
  padding-left: 0;
  padding-right: 0;
}
.padding-vertical {
  padding: 1rem 0px;
}
.padding-huge {
  padding: 7rem 0px;
}
.padding-medium {
  padding: 4rem 0px;
}
.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #121111; */
}

.header {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 991px) {
  .container-large {
    max-width: 100%;
  }
  .page-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .main-wrapper {
    margin-bottom: 20rem;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    font-size: 2.2rem;
  }
  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
